# Set default behavior to automatically normalize line endings
* text=auto

# Force Unity meta files to use LF
*.meta text eol=lf

# Unity files
*.unity text eol=lf
*.asset text eol=lf
*.prefab text eol=lf
*.mat text eol=lf
*.anim text eol=lf
*.controller text eol=lf